[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
azure = "*"
azure-mgmt-costmanagement = "*"
isodate = "*"
azure-storage-blob = "*"
azure-storage = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3.6"
